<h1><%= @login.firstName %></h1>

<p>This coffee is a <%= @login.firstName %> roast, from <%= @bean.origin %>, and we have <%= @bean.quantity %> in stock</p>

<%= link_to "Back to the List", logins_path %>