<% @customers.each do |l| %>
	<p><%= l.name %>
	<%= l.address %>
	<%= l.email %>
	<%= l.phone %>
	<%= link_to 'Create Order', customer_mainorderboards_path(l.id) %>
	
</p>
	<% end %>

	<h1><%= link_to 'New', customers_new_path %></h1>